/* ----------------------ROOT---------------------- */
:root {
  width: 100%;
  height: fit-content;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #68378e;
  background-image: url('src/Images/p-bat-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/* ----------------------HOME---------------------- */
/* ----------------------NAV---------------------- */
#welcome,
#title {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#welcome {
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 100%;
}

#title {
  margin: 0%;
  font-size: 180%;
  color: #fff0ff;
  text-shadow: 0 0 10px #4b1c71, 0 0 10px #4b1c71;
}

#initial {
  width: 100vw;
}

/* ----------------------DROP---------------------- */
#drop {
  width: 100vw;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

#btn-drop {
  position: fixed;
  z-index: 2;
}

#menu-text {
  font-size: 120%;
  font-weight: 600;
  background-color: #ebcff5;
  border-style: solid;
  border-color: #4b1c71;
  border-width: 3px;
}

#drop-item {
  font-size: 100%;
  font-weight: 600;
}

/* ----------------------BODY---------------------- */
#about-me,
#body-about {
  display: flex;
  justify-content: center;
}

#about-me {
  margin-top: 20px;
  opacity: 90%;
}

#body-about {
  height: fit-content;
  font-weight: 900;
  font-size: 20px;
  background-color: #b57edc;
  color: black;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
}


/* ----------------------PORTFOLIO---------------------- */
/* ----------------------PROJECTS---------------------- */
h5 {
  font-size: 150%;
  font-weight: 900;
}

.card-title {
  font-weight: 900;
}

.card-body {
  display: flex;
  justify-content: center;
  font-weight: 900;
  background-color: #ebcff5;
}

#title-portfolio {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 180%;
  color: #fff0ff;
  text-shadow: 0 0 10px #4b1c71, 0 0 10px #4b1c71;
}

#projects-cards {
  width: 100%;
  height: auto;
  margin: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#project-btn {
  width: 100%;
  margin: 10px 0px;
  padding: 0%;
  border-style: solid;
  border-color: #4b1c71;
  border-width: 3px;
  border-radius: 5px;
}

#projects {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* ----------------------MODAL---------------------- */
h1 {
  font-weight: 900;
}

p {
  margin-top: 10px;
}

a {
  font-weight: 900;
  color: #4b1c71;
}

.card-text {
  font-size: 140%;
}

.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 900;
  background-color: #ebcff5;
  border-style: solid;
  border-color: #d6aeeb;
  border-width: 3px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#close {
  width: 30%;
  height: auto;
  font-weight: 600;
  background-color: #8653ad;
}


/* ----------------------CONTACT---------------------- */
/* ----------------------TITLE---------------------- */
#title-contact {
  width: 100vw;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 180%;
  color: #fff0ff;
  text-shadow: 0 0 10px #4b1c71, 0 0 10px #4b1c71;
}

/* ----------------------LIST---------------------- */
section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-link {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  font-weight: 300;
  border-radius: 8px;
  border-style: solid;
  border-color: #4b1c71;
  border-width: 3px;
}

#linkedin,
#github,
#mail {
  font-weight: 900;
  color: #4b1c71;
}

#linkedin,
#github {
  padding-right: 5px;
  font-size: 125%;
}

#mail {
  font-size: 102%;
}

#logo-linkedin,
#logo-gith {
  width: 105px;
  height: auto;
}

#logo-mail {
  width: 80px;
  height: auto;
  margin: 0px 12.5px;
}


/* ----------------------FOOTER---------------------- */
/* ----------------------LINKS---------------------- */
ul,
#footer {
  display: flex;
  justify-content: center;
}

#footer {
  margin-top: 5px;
}

#link {
  font-size: 160%;
  font-weight: 600;
  color: #ebcff5;
}