/* ----------------------ROOT---------------------- */
:root {
  width: 100%;
  height: fit-content;
}


/* ----------------------HOME---------------------- */
body {
  background-color: #68378e;
  background-image: url('src/Images/p-bat-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/* ----------------------NAV---------------------- */
#welcome {
  width: 100vw;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#title {
  width: 100vw;
  margin: 0%;
  font-size: 180%;
  display: flex;
  justify-content: center;
  color: #fff0ff;
  text-shadow: 0 0 10px #4b1c71, 0 0 10px #4b1c71;
}

#initial {
  width: 100%;
  height: 100%;
}


/* ----------------------DROP---------------------- */
#drop {
  width: 100vw;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

#btn-drop {
  position: fixed;
  z-index: 2;
}

#menu-text {
  background-color: #ebcff5;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  font-weight: bold;
}


/* ----------------------BODY---------------------- */
#about-me {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  opacity: 80%;
}

#body-about {
  height: fit-content;
  background-color: #b57edc;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}


/* ----------------------PORTFOLIO---------------------- */

/* ----------------------PROJECTS---------------------- */
.card-body {
  display: flex;
  justify-content: center;
  background-color: #ebcff5;
  font-family: 'Raleway', sans-serif;
}

#title-portfolio {
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 180%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff0ff;
  text-shadow: 0 0 10px #4b1c71, 0 0 10px #4b1c71;
}

#projects-cards {
  width: 100%;
  height: auto;
  margin: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#project-btn {
  width: 100%;
  margin: 10px 0px;
  padding: 0%;
  border-style: solid;
  border-color: #4b1c71;
  border-width: 3px;
  border-radius: 5px;
}

#projects {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}



/* ----------------------MODAL---------------------- */
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  background-color: #ebcff5;
  border-style: solid;
  border-color: #d6aeeb;
  border-width: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}



